h1 {
  color: white;
  text-align: center;
}
h2 {
  color: blue;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  color:
  line-height: 40px;
}
img {
  float: center;
}
